<header id="header">
  <div class="header_top"><!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="/contacts"><i class="fa fa-phone"></i> +38 067 111 1111</a></li>
              <li><a href="/contacts"><i class="fa fa-envelope"></i> info@colobok.pp.ua</a></li>
            </ul>
          </div>
        </div></div>
    </div>
  </div><!--/header_top-->
  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="/home">
              <%= image_tag "/images/logo.png",
                            alt: "Go Home",
                            class: "nav_bar" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->
  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse" style="height: 1px;">
              <li><a href="/home" class="<%= "active" if current_page?('/home', check_parameters: true) %>">Главная</a></li>
              <li class="dropdown">
                <a href="/items" class="<%= "active" if current_page?('/items') %>" >Продукция<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/items/new">Добавить продукцию</a></li>
                </ul>
              </li>
              <li><a href="/delivery" class="<%= "active" if current_page?('/delivery', check_parameters: true) %>" >Доставка</a></li>
              <li><a href="/contacts" class="<%= "active" if current_page?('/contacts', check_parameters: true) %>" >Контакты</a></li>

              <li class="dropdown"><a href="#">Мой аккаунт<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/cart">Корзина</a></li>
                  <li><a href="#">Мои заказы</a></li>
                  <li><a href="#">Выход</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <input type="text" placeholder="Search"/>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->

</header>