<% content_for :title, "О нашей продукции" %>

<div class="row well">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("/images/_1.jpg", :class => 'img-rounded',
                      :style => "height:350px") %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("/images/_2.jpg", :class => 'img-rounded',
                      :style => "height:350px") %>

        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("/images/_3.jpg", :class => 'img-rounded',
                      :style => "height:350px") %>

        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>






<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("/images/placeimg_240_320_nature.jpg", alt: "Laurie attitude",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                "#myGallery", data: { slide_to: "0" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("/images/placeimg_240_320_nature-(1).jpg", alt: "placeholder image 2",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                "#myGallery", data: { slide_to: "1" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("/images/placeimg_240_320_nature-(2).jpg", alt: "placeholder image 3",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                "#myGallery", data: { slide_to: "2" }  %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("/images/placeimg_240_320_nature-(3).jpg", alt: "placeholder image 4",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal"}),
                "#myGallery", data: { slide_to: "3" }%>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-left"><h4>Your picture gallery</h4></div>
        <button type="button" class="close" data-dismiss="modal" title="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div class="modal-body">
        <!--CAROUSEL CODE GOES HERE-->
        <div id="myGallery" class="carousel slide" data-interval="false">
          <div class="carousel-inner">

            <div class="item active">
              <%= image_tag("/images/placeimg_480_640_nature.jpg",
                            alt: "Image description here",
                            class: "img-responsive") %>
              <div class="carousel-caption">
                <h3>Caption 1 here</h3>
                <p>Caption 1 description here</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag("/images/placeimg_480_640_nature (1).jpg",
                            alt: "Image description here",
                            class: "img-respponsive") %>
              <div class="carousel-caption">
                <h3>Caption 2 here</h3>
                <p>Caption 2 description here</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag("/images/placeimg_480_640_nature (2).jpg",
                            alt: "Image description here",
                            class: "img-respponsive") %>
              <div class="carousel-caption">
                <h3>Caption 3 here</h3>
                <p>Caption 3 description here</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag("/images/placeimg_480_640_nature (3).jpg",
                            alt: "Image description here",
                            class: "img-respponsive") %>
              <div class="carousel-caption">
                <h3>Caption 4 here</h3>
                <p>Caption 4 description here</p>
              </div>
            </div>

          </div><!--end carousel-inner-->
          <!-- Previous and Next buttons-->
          <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                          href="#myGallery" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        </div><!-- myGallery-->

      </div><!-- modal-body-->
      <div class="modal-footer">
        <div class="pull-left">
        </div>
        <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
      </div><!-- modal-footer-->
    </div><!-- modal-content-->
  </div><!-- modal-dialoge-->
</div><!-- myModal-->
<p>
  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Единственное вопроса предложения языкового. Запятой текста щеке подзаголовок сбить напоивший скатился продолжил, приставка, журчит безопасную собрал ты инициал если заманивший!
</p>
<p>
  Буквоград она, повстречался ты предложения буквенных родного. Деревни ему повстречался переписали языком своих снова раз инициал назад пор щеке вдали коварных рукопись свою парадигматическая, алфавит одна дороге от всех вопрос ipsum!
</p>
<p>
  Он, приставка даже предложения, большой выйти жизни. Приставка пустился языком пунктуация, свой обеспечивает, текста. Свое домах lorem вскоре предупреждал семантика возвращайся, несколько собрал там щеке реторический приставка рекламных переписали встретил.
</p>