<% content_for :title, "Новая продукция" %>

<%= form_for @item, html: { multipart: true } do |f| %>

  <div>Название: <br/><%= f.text_field :name %></div>
  <div>Категория: <br/>
    <%= f.collection_select(:category_id, Category.all, :id, :name_category) %>
  </div>
  <div>Описание: <br/>
    <%= f.text_area :description, class: 'form-control', rows:'1', placeholder: 'Особенности товара'  %>
  </div>
  <div>Цена:<br/><%= f.number_field(:price, in: 0.00..3000.00, step: 0.01) %></div>
  <div>Кол-во: <br/><%= f.number_field( :quantity, in: 1..1000, step: 1) %></div>

  <div>Изображение:
    <%= f.file_field :images, multiple: true %>
  </div>

  <div><%= f.submit 'Создать товар' %></div>

<% end %>