<% content_for :title, @item.name %>
<h1><%= yield(:title) %></h1>

<div class="row">
  <% a = 0 %>
  <% if @item.images? %>
    <% @item.images.each do |i| %>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <%= link_to image_tag(i.productinfo.url,
                              alt: "Image",
                              class: "img-responsive",
                              data: {toggle: "modal", target: "#myModal"}),
                    "#myGallery",
                    data: {slide_to: a} %>
      </div>
      <% a += 1 %>
    <% end %>
  <% end %>
</div>

<ul>
  <li> Категория: <%= @item.category.name_category %>     </li>
  <li> <%= "#{@item.price} грн." %>         </li>
  <li> Количество: <%= @item.quantity %>    </li>
  <li> <%= @item.description %>             </li>
</ul>

<br>

<%= link_to ('Редактировать'), "/items/#{@item.id}/edit" %>
<%= link_to ('Удалить'), @item, method: :delete, data: {confirm: 'Точно удалить?'} %><br>
<%= link_to ('На главную страницу'), items_path %>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-left"><h4><%= @item.name %></h4></div>
        <button type="button" class="close" data-dismiss="modal" title="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div class="modal-body">
        <!--CAROUSEL CODE GOES HERE-->
        <div id="myGallery" class="carousel slide" data-interval="false">
          <div class="carousel-inner">

            <% if @item.images? %>
              <% b = 'active' %>
              <% @item.images.each do |f| %>

                <div class="item <%= b %>">
                  <%= image_tag(f.responsive_img.url,
                                alt: "Image",
                                class: "img-responsive") %>
                </div>
                <div class="carousel-caption">
                  <h3></h3>
                </div>
                <% b = '' %>
              <% end %>
            <% end %>

          </div><!--end carousel-inner-->
          <!-- Previous and Next buttons-->
          <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myGallery" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div><!-- myGallery-->

      </div><!-- modal-body-->
      <div class="modal-footer">
        <div class="pull-left"></div>
        <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
      </div><!-- modal-footer-->
    </div><!-- modal-content-->
  </div><!-- modal-dialoge-->
</div><!-- myModal-->